name: Auto Docs

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  docs:
    uses: Mokhatla-Sifiso/repo-docs-action/.github/workflows/generate-docs.yml@v1
    with:
      generate_readme: true
      generate_dev_guide: true
